[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"
flask-sqlalchemy = "*"
flask-caching = "*"
python-dateutil = "*"
scipy = "*"
numpy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
